.main-chat-win {
  width: 95%;
  height: 97%;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 80% 20%;
  grid-template-areas:
          "list chat"
          "list controls";
  border-radius: 24px;
  z-index: 1000;
  background: white;

  .users-list, .chat-area, .controls-area {
  }

  .users-list {
    grid-area: list;
    border-right: 4px double lightgray;
  }

  .chat-area {
    grid-area: chat;

  }

  .controls-area {
    grid-area: controls;
    border-top: 4px double lightgray;
  }
}
